body {
}

.container{
position: absolute;
left: 0px;
width: 100%;
margin: 0 auto;
    
}

a {
color: 9370DB;
}

.logo {
left: 0px;
}
.links {
float:left;
}

.col-xs-1{
text-align: center;
    margin-top: 10px;
}

.navbar{
background-color: darkgrey;
margin-bottom: 0px;
}

.navbar-brand {
color: white;
padding-left: 40px;
padding-right: 40px;

}

.navbar-kopf{
margin-top: 10px;

}

.navbar-header {
padding-left: 10px;
padding-right: 10px;
color: black;


}

.form-control {
width: 10px;
}

.navbar-form {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 8px;
  margin-left: 5px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
}

.banner {
background-color: aquamarine;
height: 350px;
    background-image: url("Treppenhaus.png");
    background-repeat: no-repeat;
    background-size: cover; <!-- Bildbreite passt sich an Window an -->
    background-position: center center; <!-- Bild vertikal und horizontal in der Mitte -->
}

.termine {
height: 500px;
}

#terminbeschreibungen {

padding-right: 20px;
padding-bottom: 20px;
text-align: justify;
}

.aktuelles {

}

h4 {
color: #8d5ba1;
}

#termin-box{
border: 0.5px;
}

.mehr {
align: left;
}

.calendar {
}

.btn-default {
    background: white;
    color: black;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background: #D3D3D3;
    color: black;
}
 
.btn-default:active, .btn-default.active {
    background: #007299;
    box-shadow: none;
}

/* navbar */
.navbar-default {
    background-color: #000000;
    border-color: #000000;
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #8d5ba1;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #9370DB;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #9370DB;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.news-rechteck {
background-color: gainsboro;
z-index: 2;
margin-top: -40px;
width: 50%;
height: 120%;
text-align: center;
vertical-align: middle;
opacity: 

}

.news-bild1 {

z-index: 1;

width: auto;
height: 200px;
    background-image: url("showcase.jpg");
    background-repeat: no-repeat;
    background-size: cover; <!-- Bildbreite passt sich an Window an -->
    background-position: center center; <!-- Bild vertikal und horizontal in der Mitte -->
}

.news-bild2 {
z-index: 1;
width: auto;
height: 200px;
    background-image: url("erasmus.jpg");
    background-repeat: no-repeat;
    background-size: cover; <!-- Bildbreite passt sich an Window an -->
    background-position: center center; <!-- Bild vertikal und horizontal in der Mitte -->
}
.news-bild1:hover {
opacity: .7
}

.news-bild3 {
z-index: 1;
width: auto;
height: 200px;
    background-image: url("diversit%C3%A4t.jpg");
    background-repeat: no-repeat;
    background-size: cover; <!-- Bildbreite passt sich an Window an -->
    background-position: center center; <!-- Bild vertikal und horizontal in der Mitte -->
}

.textbox {
text-align: justify;
}

.pressemitteilung {
text-align: justify;
margin-bottom: 20px;
}

.section-ueberschrift {
text-align: center;
vertical-align: middle;
}


